@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --animate-fadeIn: fadeIn 0.2s ease-out;
  --animate-slideUp: slideUp 0.3s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

body {
  font-family: var(--font-sans);
  @apply bg-gray-100 text-gray-800 antialiased;
}